{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block head_content %}{% endblock %}
        <!-- fonts -->
        <link href="" rel="stylesheet">
        <link href="" rel="stylesheet">
        <!--  -->
        <meta property="og:type" content="website" />
        <!-- <meta property="og:image" content="{% block image %}{% static 'images/dualism_logo_1024.png' %}{% endblock %}" /> -->
        <meta property="og:site_name" content="TEDxNTUA 2022" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <!-- Header/footer Links -->
        <link href="{% static 'base/css/header.scss' %}" rel="stylesheet">
        <link href="{% static 'base/css/footer.scss' %}" rel="stylesheet">
    </head>

    <body>
        <header id="header">
            {% include "header.html" %}
        </header>

        <main id="main">
            {% block page_content %}{% endblock %}
        </main>

        <footer id="footer">
            {% include "footer.html" %}
        </footer>
    </body>

</html>
