<nav id="nav" aria-label="Navigation header">
    <a class="navbar-brand" href="/" aria-label="Go to homepage">
        <img src="../../static/base/images/tedxntua_logo_whitetext.png"
                alt="TEDxNTUA logo" />
    </a>

    <!-- rename colapse -->
    <ul role="menu" id="navbar-nav" class="navbar-nav collapse"
        aria-label="Navigation menu">
        <li class="nav-item">
            <a role="menuitem" href="/" class="nav-link">
                <span class="nav-item-text"> Home </span>
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a role="menuitem" href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="nav-item-text">
                    The event 
                    <!-- <span class="sr-only"> (Toggle dropdown) </span> -->
                </span>
            </a>
            
            <div role="menu" class="dropdown-menu">
                <a role="menuitem" href=""
                    class="nav-link dropdown-item">
                    <div class="nav-dropdown-item-icon black-bg woman-icon"
                        aria-hidden="true"></div>
                    <span class="nav-item-text"> Speakers </span>
                </a>
                <a role="menuitem" href=""
                    class="nav-link dropdown-item">
                    <div class="nav-dropdown-item-icon bordered man-icon"
                        aria-hidden="true"></div>
                    <span class="nav-item-text"> Performers </span>
                </a>
                <a role="menuitem" href=""
                    class="nav-link dropdown-item">
                    <div class="nav-dropdown-item-icon white-rectangles-in-black"
                        aria-hidden="true"></div>
                    <span class="nav-item-text"> Workshops </span>
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a role="menuitem" href=""
                class="nav-link">
                <span class="nav-item-text"> Partners </span>
            </a>
        </li>

        <li class="nav-item">
            <a role="menuitem" href=""
                class="nav-link">
                <span class="nav-item-text"> About us </span>
            </a>
        </li>

        <li id="lang" class="nav-item">
            <a role="menuitem" href="" 
                class="nav-link">
                <span class="nav-item-text"> EN </span>
            </a>
        </li>
    </ul>
</nav>


